body {
	background-color:#111111;
	color:white;

}
html *
{
   font-size: 1em ;
   color: #FFFFFF ;
   font-family: Arial ;
}
input{
	background-color : #EEEEEE;
	color: #000000;
	border-style: none;
}
.button{
	font-size: 1em ;
	color: #000000 ;
	font-family: Arial ;
}
.check{
	font-size: 1em ;
	color: #FF0000 ;
	font-family: Arial ;
}